html
{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.contact-banner{
    background-color: #fff;
    background-size: cover;
    height: 200px;
    position: relative;
    width: 100%;
    display: flex; 
    overflow: hidden;
    border-bottom: 0.5px solid #aaaaaa;
    margin-bottom: 3px;
}

.contact-banner img{
    position: absolute;
    height: 200px;
    bottom: 0;
}
.contact-banner #leftimg{
    left: 0 ;
    padding-left: 20px;
}
#rightimg{
    right: 0 ;
    padding-right: 20px;
}
.contact-banner .banner-text{
    padding-left: 150px;
    padding-top: 35px;
    display: flex;
    flex-direction: column;
    z-index: 10;
}
.contact-banner .banner-text h2{
    font-weight: 700;
    color: #50A596;
    font-size: 40px;
}
.contact-banner .banner-text p{
    padding-left: 3px;
    font-weight: 500;
    word-spacing: 3px;
    font-size: 17px;
    color: #595959;
}
.line-2{
    font-size: 16px !important;
    font-weight: 400 !important;
    margin-bottom: unset;
}

.fa-hand-point-right{
    color: #50A596;
    padding-right: 10px;
}
.contact-banner .banner-text .wrap-text{
    display: inline-flex;
    flex-wrap: wrap;
    font-size: 18px;   
    padding-left: 3px;
    word-spacing: 3px;
    letter-spacing: 0.5px;
}
.contact-banner .banner-text .dynamic-text{
    height: 30px;
    overflow: hidden;
    padding-left: 9px;
}
.dynamic-text li{
    position: relative;
    list-style: none;
    color: #E2857B;
    font-weight: 500;
    top: 0;
    animation: slide 8s steps(4) infinite;
}
@keyframes slide {
    100%{
        top: -108px;
    }
}

.contact-banner .banner-text .dynamic-text span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-left: 2px solid #E2857B;
    left: 0;
    animation: typing 2s steps(10) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}
.contact-form{
    padding-top: 40px;
    width: 100%;
}
.contact-form .form-box{
    position: relative;
    display: flex;
    max-width: 1000px;
    min-height: 600px;   
    margin-bottom: 100px; 
}

.form-box .contact-info{
    position: absolute;
    top: 80px;
    width: 375px;
    margin-left: 25px;
    height: 430px;
    background-color: #ffaca7;
    border-radius: 20px;
    z-index: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0px 0px 20px 3px rgba(214, 214, 214, 0.414);
}
.form-box .contact-info h4{
    font-size: 24px;
    font-weight: 770;
    color: #282D2B;
    padding-bottom: 6px;
}
.form-box .contact-info .box{
    position: relative;
    padding: 10px 0;
    display: flex;
}
.form-box .contact-info .box .fas{
    width: 45px;
    height: 45px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    color: #282D2B;
}
.form-box .contact-info .box .info-text{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
}
.form-box .contact-info .box .info-text h5{
    font-weight: 600;
    color: #282D2B;
    font-size: 18px;
}
.form-box .contact-info .box .info-text p{
    text-align: left;
    font-size: 16px;
    color: #282D2B;
}
.info-text p a{
    text-decoration: none;
    color: #282D2B;
}

.form-box .contactForm{
    padding: 50px 50px;
    padding-left: 240px;
    margin-left: 180px;
    width: calc(100% - 180px);
    height: 100%;
    background-color: #36676A;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 7px rgba(176, 176, 176, 0.23);
}
.form-box .contactForm:hover{
    box-shadow: 0px 0px 20px 7px rgba(176, 176, 176, 0.545);
    transition: 0.5s;
}

.form-box .contactForm h4{
    color: #ffffff;
    font-size: 24px;
    font-weight: bolder;
}
.form-box .contactForm .form{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-left: 5px;
}
.form-box .contactForm .form label{
    display: block;
    color: #fff;
}
.form-box .contactForm .form .inputbox{
    position: relative;
    margin-bottom: 10px;
    display: grid;
    flex-direction: column;
}
.form-box .contactForm .form .inputbox input,
.form-box .contactForm .form .inputbox textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: 5px;
    background-color: #f8f8f8;
    width: 100%;
    resize: none;
    font-size: 14px;
    font-weight: 30;
    letter-spacing: 0.5px;
    padding: 5px 10px;
}
.form-box .contactForm .form .w50{
    width: 47%;
}
.form-box .contactForm .form .w80{
    width: 70%;
}
.form-box .contactForm .form .inputbox input:hover,
.form-box .contactForm .form .inputbox textarea:hover{
    border-bottom: 1px solid;
    border-color: #50A596;
    transition: 0.5s;
}
.form-box .contactForm .form .inputbox input:focus,
.form-box .contactForm .form .inputbox textarea:focus{
    border-bottom: 2px solid rgb(190, 190, 185);
    background-color: rgb(255, 255, 238);
    font-weight: 400;
    transition: 0.2s;
}
.form-box .contactForm .form .inputbox input[type="submit"]{
    position: relative;
    cursor: pointer;
    background-color: #50A596;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border: none;
    max-width: 110px;
    align-self: flex-end;
    padding: 10px;
}
.form-box .contactForm .form .inputbox input[type="submit"]:hover{
    background-color: rgb(255, 224, 212);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
    font-size: 15px;
    color: #145018;
}
.form-box .contactForm .form .inputbox input[type="submit"]:active{
    transform: scale(1);
    background-color: rgb(233 182 154);
    color: #fff;
}
.inputbox .sbtn{
    justify-self: baseline;
}
.inputbox .error-input{
    color: red;
    padding: 1px 9px 1px 3px;
    font-size: 11px;
    background-color: #fff;
    border-radius: 5px;
    width: fit-content;
    margin: 3px 0px 0px 0px;
}

.hidden{
    display: none;
}
.error{
    border-bottom: 1px solid red;
}

.maparea{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 5px;
    margin-bottom: 80px;
}
.maparea h3{
    font-size: 24px;
    color: #50A596;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
}
.maparea iframe{
    width: 70%;
    height: 300px;
    border-radius: 5px;
}
.maparea iframe:hover{
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.215);
    transition: 0.5s;
}


@media (max-width:1100px){
    .contact-banner .banner-text{
        padding-top: 15px;
        padding-left: 120px;
    }
    .contact-form .form-box{
        margin: 10px;
        box-shadow: 0 10px 30px rgba(0,0,0,0.2);
        border-radius: 5px;
        margin-bottom: 50px;
    }
    .form-box:hover{
        box-shadow: 0px 0px 20px 7px rgba(176, 176, 176, 0.407);
        transition: 0.5s;
    }
    .form-box .contact-info{
        top: 0;
        height: 700px;
        margin: unset;
        position: relative;
        box-shadow: none;
        transition: 1s;
        padding: 45px 35px 200px;
        border-radius: 0%;
        border-top-left-radius:5px;
        border-bottom-left-radius: 5px;
    }
    .form-box .contactForm{
        position: relative;
        width: 100%;
        height: 700px;
        padding-left: 0;
        margin-left: 0;
        border-radius: 0;
        padding: 40px;
        box-shadow: none;
        transition: 1s;
    }
    .form-box .contactForm:hover{
        box-shadow: unset;
    }
    .form-box .contactForm .form .cap{
        width: 100%;
    }
    .form-box .contactForm .form .sbtn{
        width: 100%;
    }
    .form-box .contactForm .form .inputbox input[type="submit"]{
        max-width: unset;
        position: absolute;
        bottom: -50px;
    }
}
@media (max-width:990px){
    #leftimg{
        padding-left: unset !important;
    }
    #rightimg{
        padding-right: unset;
    }
    .contact-banner .banner-text{
        padding-top: unset;
        transition: 0.5s;
    }
    .contact-banner .banner-text .line-2{
        padding: 0 55px 0 5px;
        font-size: 15px !important;
    }
    .contact-form .form-box{
        margin: 0;
        display: flex;
        flex-direction: column;
        background-color: transparent;
        transition: 1s;
        margin-bottom: 100px;
    }
    .form-box .contact-info{
        width: 100%;
        border-radius: 0%;
        height: auto;
        padding-bottom: 10px;
        transition: 1s;
    }
    .form-box .contactForm{
        width: 100%;
        border-radius: 0%;
    }
    .maparea h3{
        font-size: 25px;
    }
    .maparea iframe{
        width: 100%;
        height: 200px;
        border-radius: 5px;
    }
}
@media (max-width: 768px){
    .contact-banner{
        height: 220px;
    }
    #rightimg{
        opacity: 0;
        transition: 0.5s;
    }
    .contact-banner .banner-text{
        padding-left: 0;
    }
    .contact-banner .banner-text h2{
        font-size: 30px;
        padding-left: 15px;
    }
    .contact-banner .banner-text p{
        font-size: 15px;
    }
    .contact-banner .banner-text .wrap-text{
        font-size: 15px;
        padding-left: 15px;
        padding-right: 0;
    }
    .contact-banner .banner-text .dynamic-text{
        height: 25px;
        padding-left: 9px;
    }
    @keyframes slide {
        100%{
            top: -90px;
        }
    }
    .contact-banner .banner-text .line-2{
        padding-left: 90px;
        padding-right: 5px;
        font-size: 12px !important;
        text-align: justify;
    }
    .fa-hand-point-right{
        padding-right: 5px;
    }
    .contact-form .form-box{
        margin: 0;
        min-width: 250px;
        margin-bottom: 70px;
    }
    .form-box .contact-info,
    .form-box .contactForm{
        padding: 30px;
        height: fit-content;
    }
    .form-box .contactForm .form{
        display: flex;
        flex-direction: column;
    }
    .form-box .contactForm .form .inputbox{
        width: 100%;
        font-size: 15px;
    }
    .form-box .contactForm h4,
    .form-box .contact-info h4{
        font-size: 20px;
    }
    .form-box .contact-info .box .info-text h5{
        font-size: 16px;
    }
    .form-box .contact-info .box .info-text p{
        font-size: 15px;
        padding: initial;
    }
    .form-box .contactForm .form .inputbox input[type="submit"]{
        margin-left: 0;
        position: unset;
    }
@media (max-width: 380px){
    .g-recaptcha{
        transform: scale(0.6) !important;
    }
    .form-box .contactForm .form .inputbox input[type="submit"]{
        font-size: 12px;
    }
}
    
}

/*-----------------------------Profile--------------------------------*/
.col-12 .modal {
    display: none;
    position: fixed; 
    z-index: 1000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    align-items: center;
    justify-content: center;
}
.modal .profile-edit-content {
    background-color: #fefefe;
    border: 1px solid #888;
    position: relative;
    width: 50%;
    max-width: 400px;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    border-radius: .3rem;
}
.pcontainer {
    padding: 10px;
    display: grid;
}

.profile-edit-content input[type=text], 
.profile-edit-content input[type=tel], 
.profile-edit-content input[type=password],
.profile-edit-content input[type=email],
select{
    width: 95%;
    padding: 6px 8px;
    margin: 0px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    justify-self: center;
    font-size: 15px;
}
.pcontainer-height option:hover{
    background-color: #5a9498;
    cursor: pointer;
}
.profile-edit-content input[type=text]:focus,
.profile-edit-content input[type=password]:focus, 
.profile-edit-content input[type=tel]:focus{
    border: 1px solid #5a9498;
}
.pcontainer label{
    margin-left: 12px;
    margin-bottom: 3px;
    margin-top: 10px;
} 
.pcontainer label i{
    margin-right: 7px;
    font-size: 14px;
}
.pcontainer .address-error{
    color: red;
    width: 95%;
    padding: 0px 3px;
    margin: 0px 2px;
    font-size: 12px;
    display: block;
}
.pcontainer .pcontainer-height{
    max-height: 350px;
    padding-bottom: 5px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.pcontainer .edit-profile-btn{
    background-color: #5a9498;
    color: white;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 17px;
    margin: 10px 5px 5px 5px;
    border: none;
    cursor: pointer;
    justify-self: center;
    width: 95%;
    border-radius: 5px;
} 
.pcontainer .cancelbtn{
    background-color: #E2857B;
}
.edit-profile-btn:hover,.cancelbtn:hover {
    opacity: 0.8;
}

  
.xcontainer {
    margin: 15px 0px 28px 0;
    position: relative;
}
.xcontainer .txt{
    position: absolute;
    left: 20px;
    font-weight: 600;
    font-size: 21px;
    color: #5a9498;
}
.xcontainer .closeedit {
    position: absolute;
    right: 20px;
    top: -10px;
    color: #000;
    font-size: 34px;
    font-weight: bold;
}
  
.closeedit:hover,
.closeedit:focus {
    color: #f54b38;
    cursor: pointer;
    transition: 0.3s ease;
}
  
.animate {
    animation: animatezoom 0.6s
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
  

.bottom-info{
    width: 100%;
    display: flex;
    height: 540px;
    position: relative;
    margin: 10px;
    margin-top: 30px;
    justify-content: center;
    margin-bottom: 50px;
}
.bottom-info .left-opt{
    height: 100%;
    border-radius: 10px;
    background-color: #5a9498;
    width: 22%;
    min-width: 205px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.left-opt .bottom-user-info{
    margin-top: 5px;
    padding: 13px;
}
.bottom-user-info p{
    color: #fff;
    font-weight: 700;
    letter-spacing: 0.5px;
    overflow-wrap: break-word;
    font-size: 26px;
    padding-left: 5px;
    padding-bottom: 12px;
    margin-bottom: unset;
}
.bottom-user-info .btm-pt{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    align-items: center;
    display: flex;
    box-shadow: inset 0px 0px 15px rgba(163, 163, 163, 0.393);
    line-height: normal;
    margin-top: 10px;
    position: relative;
}
.btm-pt img{
    margin-right: 13px;
    margin-left: 5px;
}
.btm-pt .btm-pt-prt p{
    color: #E2857B;
    font-size: 16px;
    font-weight: 600;
    padding: unset;
}
.btm-pt .btm-pt-prt span{
    font-weight: 600;
    color: #4a4a4a;
    font-size: 17px;
    line-height: normal;
}
.btm-pt #tooltip{
    position: relative;
}
.btm-pt #tooltip{
    position: absolute;
    right: 6px;
    color: #505050;
    cursor: pointer;
    padding: 2px;
}

.tooltip-content{
    position: absolute;
    left: 50%;
    top: -370%;
    width: 150px;
    font-size: 14px;
    text-align: justify;
    transform: translate(-50%);
    background-color: #000000db;
    color: #fff;
    padding: 5px 10px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.tooltip-content::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%);
    border: 13px solid;
    border-color: #000 #0000 #0000 #0000;
}
#tooltip:hover .tooltip-content{
    visibility: visible;
    opacity: 1;
}
.left-opt .opt-container{
    width: 100%;
    padding-top: 20px;
}
.opt-container ul{
    padding-left: 0;
    display: grid;
    flex-direction: column;
}
.opt-container ul li{
    padding-left: 15px;
    padding-top: 8px;
    color: #fff;
    list-style: none;
    height: 45px;
    cursor: pointer;
    font-size: 18px;
}
.opt-container ul li .fas{
    margin-right: 15px;
    font-size: 17px;
    width: 30px;
    padding: 5px;
}
.opt-container ul li:hover{
    background-color: #0b565c;
    color: #ffffff;
    border-left: 5px solid #145018;
    border-right: 5px solid #145018;
    transition: 0.3s;
}

.opt-container ul li.active{
    background-color: #ffffff;
    color: #5a9498;
    font-size: 19px;
    font-weight: 600;
    border-left: 5px solid #36676A;
    border-right: 5px solid #36676A;
    transition: 0.3s;
}
.left-opt .logout-opt{
    position: absolute;
    bottom: 20px;
    align-self: center;
    text-align: center;
    background-color: #fff;
    width: 65%;
    color: #E2857B;
    border-radius: 5px;
    padding: 10px;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}
.left-opt .logout-opt .fas{
    margin-right: 5px;
    font-size: 16px;
}
.left-opt .logout-opt a:hover{
    color: #505050;
    border: 3px solid #505050;
    transition: 0.15s ease-in-out;
}
.bottom-info .right-detail{
    width: 70%;
    background-color: #f5f5f5;
    margin-left: 20px;
    border-radius: 10px;
    padding: 25px;
}
.right-detail .tabcontent .title{
    font-weight: 600;
    color: #5a9498;
    font-size: 24px;
}
.right-detail .tabcontent .title::after {
    content: '';
    display: block;
    margin: 5px 0px;
    width: 0%;
    height: 3px;
    background-color: #5a9498;
    animation: underline-right 0.5s ease forwards;
}
@keyframes underline-right {
    100%{
        width: 100%;
    }
}
.right-detail .tabcontent .title .fas{
    padding-right: 8px;
    font-size: 20px;
    padding-left: 2px;
}
.profile-container{
    display: flex;
}
.profile-container .profile-container-one{
    width: 50%;
    margin: 0 10px 0 0;
    min-width: 210px;
    height: 400px;
    display: flex;
    flex-direction: column;

}
.profile-container-one .profile-detail-container{
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
    position: relative;
}
.profile-detail-container button{
    position: absolute;
    right: 12px;
    padding: 4px 7px;
    border: none;
    color: #fff;
    background-color: #E2857B;
    border-radius: 5px;
    display: inline-block;
    font-size: 15px;
}
.profile-detail-container button:hover{
    color: #fff;
    background-color: #c77067;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.24);
    transition: 0.3s;
    transform: scale(1.01);
}
.profile-detail-container button:active{
    box-shadow: none;
}
.profile-detail-container .pro-detail-part{
    width: 100%;
}
.profile-detail-container .pro-detail-part h6{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #36676A;
}
.pro-detail-part p{
    color: #5a9498;
    margin-bottom: unset;
    margin: 3px 0px;
    padding: 5px;
    font-weight: 600;
    font-size: 17px;
}
.pro-detail-part p i{
    font-size: 14px;
    margin-right: 5px;
}
.pro-detail-part span{
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    color: #484848;
    font-size: 15px;
    display: flex;
}
.pro-detail-part .inner-box{
    display: flex;
    width: 100%;
}
.pro-detail-part .box-witdh{
    max-width: 100%;
    display: flex;
}
.pro-detail-part .box-witdh2{
    width: 100%;
    display: flex;
}
.profile-container-one .account-container{
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
    margin-top: 12px;
    position: relative;
}
.profile-container-one .account-container h6{
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #36676A;
}
.profile-container-one .account-container p{
    color: #5a9498;
    margin-bottom: 0px;
    margin: 3px 0px;
    padding: 0 5px;
    font-weight: 600;
    font-size: 17px;
}
.account-container p i{
    font-size: 14px;
    margin-right: 5px;
}
.account-container .email-box{
    border-radius: 5px;
    padding: 3px 8px;
    margin: 5px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    color: #484848;
    font-size: 15px;
    display: flex;
}
.account-container button{
    border: none;
    outline: none;
    display: block;
    background-color: #fff;
    color: #f54b38;
    margin: 2px;
    font-size: 15px;
}
.account-container button:hover{
    transition: 0.5s;
    color: #ff0d00;
    text-decoration: underline;
}
.account-container button:active{
    transform: scale(0.98);
}
.account-container .changepwdbtn{
    position: absolute;
    right: 10px;
    width: 80px;
    line-height: 16px;
    border: none;
    color: #fff;
    background-color: #E2857B;
    border-radius: 5px;
    display: inline-block;
    font-size: 14px;
}
.account-container .changepwdbtn:hover{
    color: #fff;
    background-color: #c77067;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.24);
    transition: 0.5s;
    transform: scale(1.01);
    text-decoration: none;
}
.account-container .changepwdbtn:active{
    box-shadow: none;
}
.profile-container .profile-container-two{
    width: 50%;
    min-width: 190px;
    height: 404px;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    padding: 15px;
    background-color: #ffffff;
    position: relative;
    
}
.profile-container .profile-container-two h6{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    color: #36676A;
}
.profile-container-two .delivery-box{
    overflow-y: scroll;
    scrollbar-width: none;
    height: 85%;
    margin-top: 3px;
}
.delivery-box .accordion, .add-accordion{
    background-color: #50a5951f;
    color: #5a9498;
    cursor: pointer;
    padding: 15px;
    margin: 2px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
}
.add-accordion{
    display: flex;
    background-color: #f0f0f0;
    color: #5a9498;
    justify-content: center;
}
.add-accordion .fa-plus{
    font-size: 14px;
}
.add-accordion:hover{
    background-color: #e2e2e2;
    transition: 0.5s;
}
.expandacc, 
.accordion:hover{
    background-color: #5a9498 !important;
    color: #fff !important;
}

.accordion:after {
    content: '\002B';
    color: #5a9498;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.accordion:hover:after{
    color: #fff;
} 
.expandacc:after {
    content: "\2212";
    color: #fff;
}
  
.panel {
    position: relative;
    padding: 0 0 0 5px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.panel .btn-inside-address{
    display: flex;
    width: 100%;
    justify-content: right;  
    padding-right: 3px;  
}
.panel button{
    margin: 4px 4px;
    padding: 2px 8px;
    border: none;
    border-radius: 5px;
    background-color: #5a9498;
    color: #fff;
    font-size: 15px;
}
.panel .bin{
    background-color: #E2857B;
    color: #fff;
}
.panel .bin:hover{
    color: #fff;
    background-color: #c77067;
}
.panel button:hover{
    color: #fff;
    background-color: #36676A;
    box-shadow: 0 0px 5px 0 rgba(0,0,0,0.24);
    transition: 0.5s;
    transform: scale(1.01);
    text-decoration: none;
}
.panel .address-detail{
    margin-top: 8px;
    margin-bottom: 18px;
    padding-right: 5px;
}
.panel .address-detail span{
    border-radius: 5px;
    padding: 3px 6px;
    margin-bottom: 10px;
    background-color: #e9ecef;
    color: #484848;
    font-size: 15px;
    display: flex;
    height: max-content;
    word-wrap: break-word;

}
#confirmdelete .xcontainer .fa-exclamation,
#deleteacc .xcontainer .fa-exclamation{
    margin-right: 8px;
}
#confirmdelete .pcontainer p,
#deleteacc .pcontainer p{
    font-size: 17px;
    margin: 12px;
    text-align: center;
}
#confirmdelete .pcontainer button,
#deleteacc .pcontainer button{
    outline: none;
    height: 40px;
    padding: 0;
}

@media (max-width: 768px){
    .bottom-info {
        margin: 15px 0px;
    }
    .bottom-info .left-opt{
        min-width: 180px !important;
    }
    .btm-pt img {
        margin-right: 8px;
        margin-left: 2px;
        width: 18px;
    }
    .btm-pt .btm-pt-prt p{
        font-size: 15px;
    }
    .btm-pt .btm-pt-prt span{
        font-size: 16px;
    }
    .btm-pt .far{
        font-size: 15px;
        right: 5px;
    }
    .opt-container ul li{
        font-size: 17px;
    }
    .opt-container ul li .fas{
        font-size: 16px;
        margin-right: 13px;
    }
    .opt-container ul li.active{
        font-size: 18px;
    }
    .bottom-info .right-detail{
        margin-left: 10px;
    }
    .tabcontent .profile-container{
        flex-direction: column;
        overflow-y: scroll;
        height: 380px;
    }
    .profile-container .profile-container-one,
    .profile-container .profile-container-two{
        width: 100%;
        margin: unset;
        height: auto;
    }
    .profile-container-one .account-container,
    .profile-container-one .profile-detail-container{
        padding: 12px;
    }
    .profile-container-two{
        margin-top: 12px !important;
        padding: 12px;
    }
}
@media (max-width: 508px){
    .bottom-info{
        display: block;
        height: max-content;
        min-width: 300px;
    }
    .bottom-info .left-opt {
        width: 100%;
        height: max-content;
        margin-bottom: 15px;
    }
    .left-opt .logout-opt{
        display: none;
    }
    .left-opt .opt-container{
        padding: 0;
    }
    .opt-container ul{
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .opt-container ul li{
        text-align: center;
        height: max-content;
        width: 100%;
        padding: 0;
    }
    .opt-container ul li span{
        display: block;
        line-height: 1.2;
        font-size: 15px;
        padding: 0px 3px;
        margin-bottom: 3px;
    }
    .opt-container ul li .fas{
        margin: 0;
    }
    .opt-container ul li.active{
        font-weight: 600;
    }
    .bottom-info .right-detail{
        width: 100%;
        margin: 0;
        padding: 18px;
        height: 550px;
        margin-bottom: 80px;
    }
    .right-detail .tabcontent .title{
        font-size: 20px;
    }
    .right-detail .tabcontent .title .fas{
        font-size: 17px;
    }
    .tabcontent{
        height: max-content;
    }
    .tabcontent p{
        margin-bottom: 6px;
    }
    .tabcontent .profile-container{
        height: 420px;
    }
    .btm-pt #tooltip{
        right: 10px;
    }
    .tooltip-content{
        left: 50%;
        top: -100%;
        width: 150px;
        font-size: 13px;
        text-align: justify;
        transform: translate(-113%);
    }
    .tooltip-content::before{
        content: "";
        position: absolute;
        left: 108%;
        top: 33%;
        transform: translate(-50%);
        border: 13px solid;
        border-color: #0000 #0000 #0000 #000;
    }
}