/*for go to top btn*/
#progress{
	position: fixed;
	bottom: 30px;
	right: 30px;
	height: 50px;
	width: 50px;
	display: none;
	place-items: center;
	border-radius: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	z-index: 100;
	opacity: 50%;
}
#progress:hover{
	opacity: 1;
	transform: scale(1.035);
	transition: 0.5s;
}
#up-icon{
	display: block;
	height: calc(100% - 14px);
	width: calc(100% - 14px);
	background-color: #fff;
	border-radius: 50%;
	display: grid;
	align-items: center;
	justify-items: center;
	font-size: 24px;
	color: #36676A;
}

html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
    --scrollbar-width: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin: 0;
}

a{
    text-decoration: none;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
    color: black;
}

.top_banner{
	background-color: #282D2B;
	padding: 10px 0px;
	z-index: 100;
	position: relative;
}

.top_banner img{
	height: 17px;
	filter: invert(100%);
}

.navbar_socials a{
	color: white;
}

.navbar_socials:hover a{
	color: white;
	text-decoration: none;
}

.navbar_socials a i{
	padding: 7px 7px 0px 0px;
	font-size: 17px;
	color: white;
    text-decoration: none;
    transition: color 0.15s, transform 0.15s;
}

.navbar_socials a i:hover{
	color: #50A596;
	transform: scale(1.15);
	transform: translateY(-3px);
}

.navbar{
	background-color: #ffffff;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
    height: 70px;
    padding: 0px !important;
    position: sticky !important;
	top: 0;
	z-index: 100;
}

.navbar .nav_logo{
	height: 45px;
}

.navbar ul li{
	text-decoration: none;
	list-style-type: none;
	word-break: keep-all;
	color: black;
	display: inline;
}

.navbar ul li a{
	color: black;
	list-style-type: none;
	word-break: keep-all;
	display: inline;
	font-size: 16px;
	transition: 0.15s;
}

.navbar ul li a:hover{
	text-decoration: none;
	color: #E2857B;
}

.navbar ul li a.active-menu{
	text-decoration: none !important;
	color: #E2857B !important;
}

.navbar a i{
	color: black;
	font-size: 20px;
	padding: 0px 6px;
	transition: color 0.15s, transform 0.15s;
}

.navbar a i span{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-size: 16px;
	font-weight: 400;
}

.navbar a i:hover{
	color: #E2857B;
    transform: translateY(-3px);
}

.navbar a.active-menu i{
	color: #E2857B;
}

.navbar a:hover{
	text-decoration: none;
}

.login{
	background-color: white;
	border-radius: 8px;
	padding: 6px 10px;
	font-weight: 600;
	font-size: 16px;
	color: #282D2B;
	border-color: #282D2B;
	border-style: solid;
	margin: 0px 3px 0px 0px;
	width: 88px;
	transition: transform 0.15s, color 0.15s;
}

.signup{
	background-color: #50A596;
	border-radius: 8px;
	padding: 6px 10px;
	font-weight: 600;
	font-size: 16px;
	color: white;
	border-color: #50A596;
	border-style: solid;
	margin: 0px 0px 0px 3px;
	width: 80px;
	transition: transform 0.15s, color 0.15s;
}

.login:hover{
	border-color: #E2857B;
	background-color: #E2857B;
	color: white;
	transform: scale(1.05);
}

.signup:hover{
	border-color: #36676A;
	background-color: #36676A;
	transform: scale(1.05);
}

.login .far{
	padding-right: 5px;
	display: inline;
}

.login:hover .far {
    display: none;
}

.login .fas{
	padding-right: 5px;
	display: none;
	color: white;
}

.login:hover .fas {
    display: inline;
}

.navbar_search{
	position: relative;
}

.navbar_search i{
	position: absolute;
	color: white; 
	top: 8px;
    left: 12px;
    font-size: 13px;
}

.navbar_search input{
	border-radius: 8px;
	background-color: #373C3A;
	border-color: #373C3A;
	border-style: solid;
	width: 300px;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    padding: 3px 0px 3px 33px;
}

.navbar_search input::placeholder{
	font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    color: #808A86;
}

.navbar_search input:focus{
	outline: none;
}

.underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #E2857B;
}

.underline-animation::before {
    content: '';
    position: absolute;
    bottom: -125%;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: #E2857B;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.footer .underline-animation::before {
    content: '';
    position: absolute;
    bottom: 125%;
    left: 50%;
    width: 0;
    height: 4px;
    background-color: #E2857B;
    transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.underline-animation:hover::before, .underline-animation.active-menu::before {
    width: 100%;
    left: 0;
}

.navbar .fa-bars{
	font-size: 25px;
	display: none;
}

.footer .desktop{
	width: 100%;
	background-color: #282D2B;
	padding: 50px 0px 20px 0px;
}

.desktop .footer_logo{
	height: 45px;
	margin-bottom: 5px;
}

.footer .desktop  h4{
	color: #50A596;
	font-weight: 700;
}

.footer .desktop span.description{
	color: white;
	font-weight: 200;
	width: 100%;
}

.desktop .footer_socials{
	padding: 20px 0px 10px 0px;
}

.desktop .footer_socials a{
	color: white;
}

.desktop .footer_socials:hover a{
	color: white;
	text-decoration: none;
}

.desktop .footer_socials a i{
	padding: 7px 7px 0px 0px;
	font-size: 20px;
	color: white;
    text-decoration: none;
    transition: color 0.15s, transform 0.15s;
}

.desktop .footer_socials a i:hover{
	color: #50A596;
	transform: scale(1.15);
	transform: translateY(-3px);
}

.desktop .footer_socials.f1 {
	display: none;
}

.footer .desktop div.copyright{
	text-align: center;
}

.footer .desktop div.copyright span{
	color: white;
	font-weight: 200;
	width: 100%;
}

.footer .desktop span.address{
	color: white;
	font-weight: 200;
}

.footer .desktop ul.categories{
	padding-left: 20px;
}

.footer .desktop ul.categories li a{
	color: white;
	font-weight: 200;
	list-style-type: ">";
	word-break: keep-all;
	display: inline;
	font-size: 16px;
	transition: 0.15s;
	padding-left: 10px;
}

.footer .desktop ul.categories li{
	color: white;
	list-style-type: ">";
}

.footer .desktop ul.categories li::marker{
	color: #50A596;
}


.footer .desktop ul.categories li a:hover, .footer .desktop ul.categories li a.active-menu{
	text-decoration: none;
	color: #50A596;
}

.footer .mobile{
	display: none;
	width: 100%;
	background-color: white;
	padding: 10px 0px 10px 0px;
	height: 50px;
	box-shadow: 0px -4px 12px rgba(0, 0, 0, 0.3);
	z-index: 100;
}

.mobile .icon-container{
	justify-content: space-between;
	display: flex;
}

.mobile .icon{
	width: 60px;
}

.mobile .icon a{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.mobile .icon a i{
	display: inline-block;
	font-size: 20px;
	transition: color 0.15s, transform 0.15s;
}

.mobile .icon a span{
	display: inline-block;
	font-size: 12px;
}

.mobile .icon a:hover span,.mobile .icon a.active-menu span {
	color: #E2857B;
}

.mobile .icon a:hover i, .mobile .icon a.active-menu i{
	color: #E2857B;
    transform: translateY(-3px);
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 102;
  top: 0;
  right: 0;
  /*background-color: white;*/
  background-image: linear-gradient(rgb(233 182 154),rgb(195 229 223));
  overflow-x: hidden;
  transition: 0.5s;
  box-shadow: -4px 0px 12px rgba(0, 0, 0, 0.3);
}

.sidenav .buttons{
	text-align: center;
	margin: 12px 0px;
}

.sidenav .buttons button, .sidenav .buttons div{
	width: 190px;
	margin: 3px 10px;
	word-break: keep-all;
	white-space: nowrap;
}

.sidenav .profile{
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	padding: 6px 10px;
	font-weight: 600;
	font-size: 16px;
	color: white;
	border: 2px;
	margin: 16px 10px 8px !important;
}

.sidenav .profile .far{
	padding-right: 5px;
    display: inline;
}

.sidenav a i{
	margin: auto;
  font-size: 20px;
}

.sidenav a div{
  display: inline-flex;
  flex-direction: row;
  width: 30px;
  align-items: center;
}

.sidenav a span{
  padding-left: 4px;
  font-size: 16px;
  display: inline;
  font-weight: 500;
}

.sidenav a {
  padding: 12px 8px 12px 20px;
  text-decoration: none;
  color: #282D2B;
  white-space: nowrap;
  display: block;
  width: 216px;
  transition: 0.15s;
  /*border-bottom: #EDEDED 1px solid;*/
}
.sidenav a:first-of-type{
	/*border-top: #EDEDED 1px solid;*/
}

.sidenav .login{
	background-color: transparent;
}

.sidenav .signup{
	border-color: #cd7d6a;
	background-color: #cd7d6a;
}

.sidenav .login:hover{
	border-color: rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0.15);
	color: white;
	transform: scale(1.035);
}

.sidenav .signup:hover{
	border-color: #ad5f4d;
	background-color: #ad5f4d;
	transform: scale(1.035);
}

.sidenav .login .far{
}

.sidenav .login:hover .far {
}

.sidenav .login .fas{
}

.sidenav a:hover, .sidenav a.active-menu{
	text-decoration: none;
 	color: white;
    transform: translateX(-6px);
    background-color: rgba(0, 0, 0, 0.1);
    border-right: white 10px solid;
}

.sidenav a:hover i{
	/*animation-name: spin;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-duration: 1.5s;*/
}

.appear{
	z-index: 101 !important;
	display: block !important;
	opacity: 0.5 !important;
	transition: opacity 0.3s ease;
	
}

#filter_darken.appear{
	z-index: 98 !important;
}

.breadcrumbs{
	margin: 25px 0px 15px;
	font-size: 16px;
	font-weight: 500;
	color: #50A596 !important;
}

.breadcrumbs a{
	color: inherit !important;
}

.breadcrumbs a:hover{
	text-decoration: none !important; 
}

.breadcrumbs .active{
	color: #c0c0c0 !important;
	font-weight: 500;
}

.menu .filter_container{
	background-color: white;
	box-shadow: 17px 0px 17px -20px rgba(0, 0, 0, 0.3);
	padding: 10px 20px 0px 0px;
	position: sticky;
	top: 85px;
	height: 85vh;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu .filter_container::-webkit-scrollbar{ 
    display: none;
}


.menu .filter_container span{
	font-weight: 500;
}

.menu .filter_container span i{
	padding-right: 7px;
}

.menu .active_filters{
	width: 100%;
}

.menu .clear_filters{
	color: #50A596;
	transition: 0.15s;
}

.menu .clear_filters:hover{
	color: #36676A;
	transform: scale(1.05);
	cursor: pointer;
}

.menu .availability_filter, .menu .discount_filter, .menu .category_filter{
	justify-content: space-between;
	display: flex;
	flex-direction: row;
    align-items: center;
}

.menu .categories_filter ul{
    list-style-type: none;
    padding-left: 15px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-out;
    /*display: none;*/
}

.menu .categories_filter input{
	margin-right: 5px !important;
	width: 15px;
	height: 15px;
}

.menu .availability_filter input, .menu .discount_filter input{
	width: 18px !important;
	height: 18px !important;
}

#menuFilters.shiftRight{
	transform: translateX(0px)/* translateY(-35px)*/;
}

.menu .filter_container hr{
	margin: 10px 0px !important;
}

.menu .filter_container input[type="checkbox"]{
	width: 15px;
	height: 15px;
	accent-color: #3ea290;
	transition: 0.15s;
}

.menu .filter_container input[type="checkbox"]:hover{
	transform: scale(1.05);
	cursor: pointer;
}

.menu .categories_filter li{
	list-style-type: none;
	position: relative;
}

.menu .categories_filter .categoryToggle{
    max-height: none;
    /*display: block;*/
}

.menu .categories_filter i{
	position: absolute;
	top: 6px;
	right: 0;
	transition: 0.15s;
}

.menu .categories_filter i:hover{
	transform: scale(1.2);
	cursor: pointer;
}

.menu .categories_filter ul{
	user-select: none;
	margin: 0;
}

.menu .price_filter input[type="text"]{
	background-color: #EDEDED;
	border: #EDEDED 1px solid;
	margin: 3px;
	width: 100%;
	border-radius: 6px;
	padding-left: 5px;
}

.menu .price_filter input[type="text"]:focus-visible{
	outline: none;
}

.menu .submit_filter{
	background-color: #50A596;
	color: white;
	display: inline;
	white-space: nowrap;
	width: 100%;
	border: #50A596 solid 1px;
	border-radius: 8px;
	padding: 2px 0px;
	font-size: 16px;
	font-weight: 400;
	transition: 0.15s;
}

.menu .submit_filter:hover{
	background-color: #36676A;
	transform: translateY(-3px);
	cursor: pointer;
}

.menu .submit_filter:focus{
	outline: none;
}

.menu .menu_items{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 15px 0px;
    gap: 2%;
}

.menu .menu_items a{
	text-decoration: none;
	color: inherit;
}

.menu .menu_container span{
	font-weight: 500;
	font-size: 20px;
	border-left: #3ea290 4px solid;
	padding: 5px 13px;
	width: 100%;
	margin: 10px 0px 15px 0px;
}

.menu .menu_container .series{
	margin-bottom: 30px;
}

.menu .item_container{
	height: inherit;
	background-color: #f1ecec;
	border-radius: 10px;
	display: flex;
	justify-content: center;
    flex-direction: column;
    flex: 0 0 23.5%;
    max-width: 23.5%;
    position: relative;
    transition: 0.5s;
    margin-bottom: 20px;
}

.fade_in {
    opacity: 0; /* initially hide elements */
    transform: translateY(50px);
}
.visible {
	opacity: 1; /* show elements when visible */
	transform: translateY(0px);
}

.menu .item_container:hover{
	transform: scale(1.05);
	cursor: pointer;
	transition: 0.15s;
}

.menu .item_container img{
	width: 90%;
	height: 90%;
	margin: auto;
}

.menu .item_container .item_text{
	background-color: white;
	padding-top: 4px;
	z-index: 3;
}

.menu .item_container .item_text .title{
	font-size: 16px;
	font-weight: 500;
	line-height: 1.2;
	height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.menu .item_container .item_text .price{
	font-size: 17px;
	font-weight: 500;
	color: #3ea290;
	display: inline;
}

.item_container .discount ~ .item_text .price{
	color: #E2857B;
	padding-right: 3px;
}

.menu .item_container .item_text .price_crossed{
	font-size: 14px;
	color: #b1b5b4;
	text-decoration: line-through;
	display: inline;
}


.menu .item_container .item_text .rating{
	font-size: 14px;
	color: #3ea290;
}

.menu .item_container .item_text .rating .fa-star{
	padding-right: 1px;
}

.menu .item_container .item_text .rating .far.fa-star{
	color: #B2DAD3 !important;
}

.menu .item_container .item_text .add_cart{
	float: right;
}

.menu .item_container .discount{
	font-size: 14px;
	background-color: #E2857B;
	padding: 3px 10px;
	color: white;
	position: absolute;
	top: 0;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 500;
	z-index: 3;
}

.menu .item_container .sold_out{
	font-size: 25px;
	background-color: rgb(129,129,129,0.4);
	padding: 3px 10px;
	color: white;
	position: absolute;
	top: 0;
	border-radius: 10px;
	font-weight: 500;
	z-index: 3;
	width: 100%;
    height: 70%;
    display: flex;
	align-items: center;
	justify-content: center;
}

.item_container .sold_out + img {
  filter: grayscale(100%) brightness(80%);
  border-radius: 10px;
}

.menu .filter_container_2{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0px;
	margin-top: 10px;
}

.menu .filter_container_2 .search_container{
	display: flex;
	position: relative;
}

.menu .filter_container_2 .openFilters{
    display: none;
    align-items: center;
    transition: 0.15s;
}

.menu .filter_container_2 .openFilters:hover{
    transform: translateY(-3px);
    color: #E2857B;
}

.menu .filter_container_2 i.fa-sliders-h{
	font-size: 20px;
	padding-right: 8px;
}

.menu .filter_container_2 span{
	font-weight: 500;
	font-size: 16px;
}

.menu .filter_container_2 .search{
	width: 300px;
	position: relative;
}

.menu .filter_container_2 .search i{
	position: absolute;
	top: 11px;
    left: 15px;
    font-size: 14px;
}
.menu_items > .item_container .menu_items {
    display: none;
}

.menu .filter_container_2 .search input[type="text"]{
	background-color: #EDEDED;
	border: #EDEDED 1px solid;
	margin: 3px;
	width: 100%;
	border-radius: 6px;
	padding-left: 33px;
}

.menu .filter_container_2 .search input[type="text"]:focus-visible{
	outline: none;
}

.menu .filter_container_2 .sort_filter select:hover{
	cursor: pointer;
}

.menu .filter_container_2 .sort_filter{
	justify-content: center;
	align-items: center;
	display: flex;
}

.menu .filter_container_2 .sort_filter span{
	padding-right: 6px;
	font-weight: 500;
}

.menu .filter_container_2 .sort_filter select{
	padding:  2px 10px 0px 3px;
	background-color: #EDEDED;
	border: #EDEDED 1px solid;
	border-radius: 6px;
}

.menu .filter_container_2 .sort_filter select:focus-visible{
	outline: none;
}

.filter_container .close_filter{
	display: none;
}

.menu .no_items{
	display: flex;
	justify-content: center;
}

.item .item_title{
	font-weight: 700;
	font-size: 25px;
}

.item .fa-heart{
	font-size: 26px;
	transition: 0.2s;
}

.item .fa-heart:hover{
	/*animation-name: spin;
	animation-timing-function: ease-in-out;
	animation-iteration-count: 1;
	animation-duration: 0.7s;*/
	transform: scale(1.1);

}

.item .rating{
    font-size: 14px;
    color: #3ea290;
    display:inline;
}

.item .rating i{
	padding-right: 1px;
	font-size: 14px;
	color: #3ea290;
}

.item .rating .far.fa-star{
	color: #B2DAD3 !important;
}

.item .no_ratings{
	display: inline;
	border-left: 2px solid #B2DAD3;
	color: #3ea290;
	font-size: 14px;
	padding-left: 6px;
	margin-left: 3px;
	font-weight: 400;
}

.item .item_image_container{
/*	background-color: #f1ecec;*/
	display: flex;
	justify-content: center;
}

.item .item_image{
	width: 80%;
}

.item .item_price{
	padding: 5px 0px;
	font-weight: 500;
}

.item .discount{
	font-size: 15px;
	background-color: #E2857B;
	padding: 1px 7px;
	margin-right: 7px;
	color: white;
	border-radius: 5px;
	font-weight: 500;
	text-align: center;
	display: inline;
}

.item .discount + .price{
	font-weight: 600;
	color: #E2857B;
}

.item .price{
	display: inline;
	font-size: 22px;
}

.item .price_crossed{
	text-decoration: line-through;
	display: inline;
	font-size: 15px;
	padding-left: 5px;
	color: #c0c0c0;
}

.item .item_details{
	font-size: 15px;
	font-weight: 500;
	padding: 10px 0px;
	color: #3ea290;

}

.item .item_description{
	padding: 15px 0px;
}

.item .item_attribute_container{
	display: inline-block;
	white-space: nowrap;
	flex: 0 0 130px;
}
.item .item_tag_container{
	display: inline-block;
}

.item .item_tag{
	background-color: #84b6ad;
	color: white;
	width: fit-content;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 5px;
	padding: 1px 6px;
	border-radius: 4px;
	font-size: 15px;
}

.item .item_attribute{
	display:flex;
	margin-bottom: 2px;
}

.item .item_details hr{
	margin: 10px 0px 6px 0px;
}

.item .item_details span.options{
	color:black;
	font-size: 18px;
}


.item .item_details .number{
	display: flex;
}
    
.item .item_details .minus, .item .item_details .plus {
	width: 24px;
	height: 24px;
	background: #eeeeee;
	border: 1px solid #eeeeee;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	color: black;
	transition: 0.15s;
}

.item .item_details .minus:hover, .item .item_details .plus:hover {
	transform: scale(1.1);
	color: #226257;
	background-color: #d2e8e4;
	border-color: #d2e8e4;
	cursor: pointer;
}

.item .item_details .minus{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.item .item_details .plus{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.item .item_details  input{
	height: 24px;
	width: 45px;
	text-align: center;
	font-size: 16px;
	border: 1px solid #eeeeee;
	cursor: pointer;
}

.item .item_details  input[type="text"]{
	pointer-events: none;
	cursor: default;
}

.item .item_details textarea{
	width: 100%;
	height: 70px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	resize: none;
}

.item .item_details textarea:focus{
	outline: none;

}

.item .item_details .disabled{
	pointer-events:none;
}

.item .cart_button{
	background-color: #50A596;
	color: white;
	white-space: nowrap;
	width: 100%;
	border: #50A596 solid 1px;
	border-radius: 8px;
	padding: 7px 0px;
	font-size: 16px;
	font-weight: 400;
	transition: 0.15s;
	margin: 5px 0px 30px 0px;
}

.item .cart_button:hover{
	background-color: #36676A;
	transform: scale(1.02);
	cursor: pointer;
}

.item .cart_button.disabled{
	pointer-events:none;
	filter: saturate(0);
}

.item .option_choices{
	width: 225px;
	background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding: 1px 0px;
}

.item .option_choices:focus{
	outline: none;
}

.item .item_attribute.options{
	display:flex;
	margin-bottom: 0px;
	margin-top: 8px;
}

.reviews hr{
	margin: 0;
	margin-top: 7px;
}

.reviews .reviews_title{
	font-weight: 700;
	font-size: 24px;
	padding: 0px 20px 7px 5px;
	border-bottom: 4px #3ea290 solid;
}

.reviews form#ratingForm{
	display: flex;
}

.reviews .reviews_top{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.reviews .ratings_filter{
	width: 100%;
	display: flex;
	justify-content: end;
}

.reviews .ratings_filter .review_button{
	display: inline;
	font-size: 16px;
	font-weight: 500;
	background-color: #E2857B;
	padding: 2px 10px 2px 10px;
	border-radius: 5px;
	color: white;
	white-space: nowrap;
	transition: 0.15s;
}

.reviews .ratings_filter .review_button:hover{
	transform: scale(1.05);
	background-color: #c77067;
	cursor: pointer;
}

.reviews .ratings_filter select{
	padding:  2px 10px 0px 3px;
	background-color: #EDEDED;
	border: #EDEDED 1px solid;
	border-radius: 6px;
	margin-left: 8px;
	cursor: pointer;
}

.reviews .ratings_filter select:focus{
	outline: none;
}

.reviews .overall_ratings{
	padding: 10px 0px 20px 5px;
	white-space: nowrap;
}

.reviews .overall_ratings .value{
	font-size: 32px;
	font-weight: 600;
	display: inline;
	padding-right: 8px;
}

.reviews .stars{
	font-size: 22px;
	display: inline;
	position: relative;
	top: -3px;
	color: #3ea290;
}

.reviews .stars .fa-star{
	padding: 1px;
}

.reviews .stars .far.fa-star{
	color: #B2DAD3 !important;
}

.reviews .no_ratings{
	display: inline;
	padding-left: 5px;
	position: relative;
	top: -2px;
}

.reviews .display_reviews{
	display: flex;
	flex-wrap: wrap;
	gap: 1%;
	padding-bottom: 5px;
}

.reviews .display_reviews .no_reviews{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px 0px;
	border-radius: 10px;
}

.reviews .display_reviews .review_container{
	flex: 0 0 32.66%;
	max-width: 32.66%;
	background-color: #eeeeee;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 20px;
	transition: 0.5s;
	/*box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);*/
}

.reviews .display_reviews .review_container img{
	width: 40px;
	height: 40px;
	margin-right: 10px;
	display: inline;
}

.reviews .display_reviews .review_container span{
	font-size: 20px;
	font-weight: 600;
	top: -5px;
	position: relative;
}

.reviews .display_reviews .review_container .top_container{
	display: flex;
}

.reviews .display_reviews .review_container .container{
	position: relative;
	top: -12px;
	display: flex;
	align-items: center;
	padding: 0;
}

.reviews .display_reviews .review_container .review_stars{

}

.reviews .display_reviews .review_container .review_date{
	font-size: 14px;
	font-weight: 500;
	color: #adadad;
	padding-top: 3px;
	padding-left: 5px;
}

.reviews .display_reviews .review_container i{
	padding-right: 2px;
	font-size: 13px;
	color: #E2857B;
}

.reviews .display_reviews .review_container .username{
	display: flex;
	justify-content: flex-start;
	font-size: 16px;
	font-weight: 500;
	color: #adadad;
	padding-top: 5px;
}

.reviews .write_review{
	background-color: white;
	position: fixed;
	z-index: 100;
	top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    width: 350px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.reviews .write_review .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	overflow: auto;
    max-height: 0px;
    transition: 0.4s cubic-bezier(0.38, 1.13, 0.98, 0.96);
    padding: 0px;
}

.reviews .write_review .container.active{
    max-height: 450px;
    padding: 10px 15px;
}

.reviews .write_review .container::-webkit-scrollbar {
  display: none;
}

.reviews .write_review .title{
	font-size: 24px;
	font-weight: 600;
	padding-top: 10px;

}

.reviews .write_review img{
	width: 120px;
	height: 120px;
}

.reviews .write_review .name{
	text-align: center;
	font-size: 16px;
	font-weight: 500;
}

.reviews .write_review .name .rate_stars{
	display: flex;
	flex-direction: row;
}

.reviews .write_review .rate_stars .fa-star{
	padding: 0px 2px;
	font-size: 18px;
	font-weight: 500;
	color: black;
	transform: scale(1.0);
	transition: 0.1s ease-in-out transform, 0s color ;
}

.reviews .write_review .rate_stars .fa-star:hover{
	color: #E2857B;
	font-weight: 900;
}

.reviews .write_review .rate_stars .fa-star.hovered{
    color: #E2857B;
    transform: scale(1.15);
    font-weight: 900;
}

.reviews .write_review .rate_stars .fa-star:hover {
    color: #cd695e;
    transform: scale(1.25) !important;
    font-weight: 900;
}

.reviews .write_review .rate_stars .fa-star.clicked{
    color: #E2857B;
    transform: scale(1.15);
    font-weight: 900;
}

.reviews .container #review_rating{
	opacity: 0;
    height: 0;
    width: 100px;
    top: -10px;
    position: relative;
}

.reviews .write_review  input[type="text"]{
	width: 100%;
	margin: 0px 0px 10px 0px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 5px;
}

.reviews .write_review  textarea{
	width: 100%;
	height: 110px;
	background-color: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 5px;
	resize: none;
}

.reviews .write_review input:focus, .reviews .write_review textarea:focus{
	outline: none;
}

.reviews .write_review .buttons{
	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 10px 0px 20px 0px;
}

.reviews .write_review .buttons div, .reviews .write_review .buttons input[type="submit"]{
	width: 48%;
	padding: 3px 0px;
	transition: 0.15s;
}

.reviews .write_review .buttons div:hover, .reviews .write_review .buttons input[type="submit"]:hover{
	transform: scale(1.05);
}


.reviews .write_review .buttons div{
	border-radius: 5px;
	border: 2px solid black;
	text-align: center;
}

.reviews .write_review .buttons input[type="submit"]{
	border-radius: 5px;
	border: 2px solid #50A596;
	background-color: #50A596;
	color: white;
}

.review_darken{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	z-index: -1;
	position: fixed;
	top:0;
	display: block;
}

.review_darken.appear{
	z-index: 98 !important;
}

/*@keyframes spin {
  from { transform: rotateY(0deg); }
  to { transform: rotateY(-180deg); }
}*/

/*Responsive*/

@media (max-width: 992px){
	.navbar ul{
		display: none !important;
	}
	.navbar .icons{
		display: none;
	}
	.navbar .fa-bars{
		display: block;
	}
	.menu .filter_container{
		transform: translateX(-100%)/* translateY(-35px)*/;
		height: 100%;
		width: 350px;
		position: fixed;
		z-index: 99;
		top: 0;
		left: 0;
		overflow-x: hidden;
		padding: 135px 35px 80px 35px;
		transition: 0.5s;
	}
	.menu .filter_container::-webkit-scrollbar {
	  display: none;
	}
	.menu .item_container{
	    flex: 0 0 31%;
	    max-width: 31%;
	}
	.menu .menu_items{
	    gap: 3.5%;
	}
	.menu .filter_container_2 .openFilters{
	    display: flex;
	}
	.menu .filter_container_2 .openFilters span{
	    display: none;
	}
	#sidenav_darken{
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0;
		z-index: -1;
		position: fixed;
		top:0;
		display: block;
	}
	#filter_darken{
		width: 100%;
		height: 100%;
		background-color: black;
		opacity: 0;
		z-index: -1;
		position: fixed;
		top:0;
		display: block;
	}
	.reviews .display_reviews{
		gap: 1%;
	}

	.reviews .display_reviews .review_container{
		flex: 0 0 49.5%;
		max-width: 49.5%;
	}
}

@media (max-width: 768px){
	.item .item_image {
	    width: 70%;
	}
	.navbar_socials a i{
		padding: 7px 0px;
	}
	.desktop .footer_socials.f1 {
		display: block;
		padding-top: 8px;
	}
	.desktop .footer_socials.f2 {
		display: none;
	}
	.menu .filter_container_2 .search{
		width: 200px;
		position: relative;
	}
	.reviews .display_reviews{
		gap: 0%;
	}

	.reviews .display_reviews .review_container{
		flex: 0 0 100%;
		max-width: 100%;
	}

	.reviews .reviews_top{
		flex-direction: column;
	}

	.reviews .overall_ratings{
		padding: 10px 0px 10px 5px;
		width: 100%;
	}

	.reviews .ratings_filter{
		padding-bottom: 10px;
		justify-content: start;
	}

	.reviews .display_reviews .no_reviews{
		padding: 30px 0px;
		background-color: #eeeeee;
	}
}

@media (max-width: 575px){
	.top_banner .navbar_socials{
		display: none;
	}
	.top_banner .navbar_search input{
		width: 100%;
	}
	.navbar .icons span{
		display: none;
	}
	.top_banner .d-flex{
		display: block !important;
	}
	.menu .item_container{
	    flex: 0 0 48%;
	    max-width: 48%;
	}
}

@media (max-width: 535px){
	.menu .filter_container_2 .search{
		display: block;
		width: 100%;
	}
	.menu .filter_container_2{
		flex-direction: column;
	}
	.menu .filter_container_2 .sort_filter{
		justify-content: end;
		padding-top: 3px;
	}
}

@media (max-width: 480px){
	.item .item_image {
	    width: 80%;
	}
	.footer .desktop{
		display: none;
	}
	.footer .mobile{
		display: block;
		position: fixed;
		bottom: 0;
		padding-bottom: 50px;
	}
	.navbar .fa-user{
		display: none;
	}
	.sidenav a:nth-child(-n+5){
		display: none;
	}
	body {
	    padding-bottom: 60px !important;
	}
	.reviews form#ratingForm{
		flex-direction: column;
	}
	.reviews .ratings_filter .review_button{
		width: fit-content;
	}
	.reviews .ratings_filter select{
		margin-left: 0px;
		margin-top: 8px;
	}

	/*for go to top btn*/
	#progress{
		bottom: 80px;
		right: 15px;
	}
}

@media (max-width: 380px){
	.item .item_tag_container{
		display: inline-block;
		margin-top: 3px;
		margin-bottom: 5px;
	}
	.item .option_choices{
		width: 100%;
		margin-top: 2px;
	}
	.item .item_attribute{
		display:block;
	}
	.item .item_attribute.options{
		display:block;
	}
	.item .item_attribute .item_attribute_container{
		display:flex;
		margin-bottom: 2px;
	}
	.container-fluid{
		padding: 0px !important;
	}
	.menu .filter_container{
		width: 100%;
	}
	.menu .filter_container_2 .sort_filter select{
		padding:  2px 0px 0px 0px;
		background-color: #EDEDED;
		border: #EDEDED 1px solid;
		border-radius: 6px;
	}
	.filter_container .close_filter{
		display: block;
		padding: 10px 0px 20px 0px;
		position: relative;
	}
	.filter_container .close_filter i{
		font-size: 24px;
		padding: 5px 0px;
		position: absolute;
		top: 0;
		right: 0;
		transition: 0.15s;
	}

	.filter_container .close_filter i:hover{
		transform: scale(1.2);
		color: #50A596;
	}
	.menu .item_container .sold_out{
		font-size: 20px;
	}

}
